@inject MyPyramidWeb.Abstractions.IParseService ParseService
@{
    List<string> userEmails = new List<string>();
    int usersCount = ParseService.GetPyramidUsers().Count;
}
<p class="mt-5"><a href="/" class="text-decoration-none btn border-secondary link-secondary mb-4">← Главное меню</a></p>

<form method="get" asp-controller="Pyramid" asp-action="SavePyramidUsersInExcel">
    <button type="submit" class="mb-5 btn btn-success pe-lg-3 pt-2 me-1">
        <img src="~/icons/excel-logo.svg" alt="Excel Logo" width="30" height="25"/>
        Сохранить в Excel
    </button>

    <button type="button" id="mailingUsersButton" class="mb-5 btn btn-light pe-lg-3 pt-2" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
        <img src="~/icons/share-icon.svg" alt="Email icon" width="20" height="25"/>
        Сделать рассылку
    </button>
</form>
<table class="table table-striped table-dark table-bordered border-secondary text-light">
    <thead>
    <tr>
        <th class="text-secondary h4 text-center" scope="col" colspan="6">Пользователи АСКУЭ (@usersCount)</th>
    </tr>
    <tr>
        <th class="text-secondary" scope="col">Организация</th>
        <th class="text-secondary" scope="col">Логин</th>
        <th class="text-secondary" scope="col">Фамилия</th>
        <th class="text-secondary" scope="col">Имя</th>
        <th class="text-secondary" scope="col">Отчество</th>
        <th class="text-secondary" scope="col">Email</th>
    </tr>
    </thead>
    @foreach (var user in ParseService.GetPyramidUsers())
    {
        // 🚩 BUG: сделать исключения для ненужных пользователей
        userEmails.Add(user.Email);
        <tr>
            <td>@user.Organization</td>
            <td>@user.Login</td>
            <td>@user.SurName</td>
            <td>@user.Name</td>
            <td>@user.Patronymic</td>
            <td>@user.Email</td>
            @* <td><a href="mailto:@user.Login@@nornik.ru" class="text-secondary">@user.Login@@nornik.ru</a></td> *@
            @* <td><a href="mailto:@user.Email" class="text-secondary">@user.Email</a></td> *@
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5 text-secondary" id="exampleModalLabel">Информация</h1>
                <button type="button" class="btn-close bg-secondary" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body text-lg-start">
                В связи с ограничением кол-ва символов для тега <code>mailto (2000)</code>, вынужден прибегнуть к
                костылю.
                Чтобы отправить рассылку, скопируй нижеприведенный список email-адресов пользователей АСКУЭ <code>(ctrl+A,
                    ctrl+C)</code> и в открывшемся почтовом клиенте просто вставьте в поле "<b>Кому...</b>".

                <div class="form-floating mt-3">
                    <textarea class="form-control text-secondary bg-black" placeholder="Leave a comment here"
                              id="floatingTextarea2"
                              style="height: 100px">@string.Join("", @userEmails.Distinct())</textarea>
                    <label for="floatingTextarea2">Пользователи АСКУЭ</label>
                </div>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">
                    <a href="mailto:?subject=Рассылка АСКУЭ" class="text-decoration-none link-light">
                        Открыть почту
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
